<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saurabharora.motionlayout.playground">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".DialerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>